button {
    font-size: large;
    background-color: var(--secondary-green);
    width: 150px;
    height: 40px;
    margin: 20px;
}

button:hover {
    cursor: pointer;
}

.flex {
    display: row;
    justify-content: center;
    align-items: center;
} 