.masonry {
    column-count: 4;
    column-gap: 10px;
    padding: 10px;
}

figure {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
}

button {
    border: solid 1px #6e6e6e;
    background-color: transparent;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    padding-block: 0;
    padding-inline: 0;
}

button:hover {
    cursor: pointer;
}

button img {
    border-radius: 5px;
    transform: scale(1.08);
    transition: all 0.4s;
}

button img:hover {
    transform: scale(1);
}

img {
    max-width: 100%;
    display: block;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    position: relative;
    padding: 20px;
    width: 80vw;
    margin: auto;
    height: 95vh;
}

.modal-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}