.masonry {
    column-count: 4;
    column-gap: 10px;
    padding: 10px;
}

button {
    border: none;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
}

figure {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
}

img {
    max-width: 100%;
    display: block;
}

figure > img {
    grid-row: 1 / -1;
    grid-column: 1;
}
