input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid rgb(1, 8, 19);
    border-radius: 4px;
    font-size: medium;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: solid 1px var(--text-color);
}


input::placeholder {
    font-size: medium;
    color: var(--text-color);
}


input[type=submit] {
    font-size: medium;
    background-color: var(--secondary-green);
    width: 150px;
    height: 40px;
    margin-top: 10px;
}

input[type=submit]:hover {
    background-position: left;
    cursor: pointer;
}