:root {
    --primary-color: #FFFFFF;
    --secondary-green: #96AE96;
    --secondary-yellow: #FFC86E;
    --accent-color: #FA6E5A;
    --text-color: #000A28;
    --light-grey: #EBEBF0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    color: var(--text-color);
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
    color: var(--text-color);
}
a:hover {
    color: #4E4E4E;
}

nav {
    position: sticky;
    top: 0px;
    background-color: var(--secondary-green);
    z-index: 5;
    font-size: 20px;
    text-align: end;
    padding: 25px 100px;
}

@media (min-width: 768px) {
    nav {
        opacity: 0.9;
    }
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.hamburger {
    position: absolute;
    top: 23px;
    right: 20px;
    background: transparent;
    border: none;
    font-size: medium;
}

.menu-mobile {
    display: none;
    position: absolute;
    inset: 0px;
    height: 100svh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 15;
}

.menu-mobile .content {
    position: absolute;
    right: 0px;
    height: 100svh;
    width: 80%;
    background: #FFFFFF;
    align-items: start;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 100px;
}

.menu-mobile .content div {
    margin-left: 25px;
}

.menu-desktop {
    display: none;
}

@media (min-width: 768px) {
    .menu-desktop {
        display: block;
    }
}

main {
    padding: 5px;
    flex-grow: 1; /* Sørger for at footeren altid er i bunden af siden i tilfælde af at der ikke er nok indhold i main div */
}

@media (min-width: 768px) {
    main {
        padding: 15px;
    }
}

main .content {
    padding: 10px;
}

@media (min-width: 768px) {
    main .content {
        padding: 80px;
    }
}

h1 {
    text-align: center;
    color: var(--text-color);
    font-size: x-large;
}

@media (min-width: 768px) {
    h1 {
        font-size: xx-large
    }
}

footer {
    background-color: var(--secondary-green);
    color: var(--text-color);
    font-size: 15px;
    padding: 10px;
}

footer a {
    color: #000000;
}

footer .content {
    padding-top: 50px;
    padding-bottom: 50px;
}

.copyright {
    text-align: center;
    padding: 16px;
}

/* Support classes */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    max-width: 1280px;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.grid {
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.block {
    display: block;
}

.prose {
    max-width: 65ch;
    line-height: 1.75rem;
}

.hide {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}