.hero {
    display: none;
    position: relative;
}

@media (min-width: 768px) {
    .hero {
        display: block;
    }
}

.hero img {
    z-index: -1;
    position: absolute;
    inset: 0px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hero .content {
    height: 100vh;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}


.hero a {
    margin: 50px;
    transition: all 0.2s;
}

.hero a:hover {
    transform: scale(1.2);
}
